<p>users works!</p>
    <!-- <mat-card>
        <mat-card-header>
            <mat-card-title>[title]={{'Users'}}</mat-card-title>
            <mat-card-subtitle>[title]={{'subtitle'}} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
    
            <ng-content></ng-content>
    
        </mat-card-content>
    </mat-card>
    
    <button mat-raised-button color="primary" routerLink="../../create-user">Create New user</button>
   -->
    <mat-sidenav>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEmployeeModal">
            Launch demo modal
          </button>
          
          <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div> 
</mat-sidenav>
        <app-card [title]="'Users' " subtitle="List of user"> 
    <table class="table table-boardered">
        <thead>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users;let i = index">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.depart}}</td>
                <td>
                    <span class="text-success" *ngIf="user.active">Active</span>
                    <span class="text-danger" *ngIf="!user.active">Inactive</span>
                </td>
                <td>
                    <button mat-raised-button="primary" (click)="viewUser(user)">View Details</button>
                </td>
            </tr>
        </tbody>
    </table>
  
    <mat-sidenav-container>
        user content
        &Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Similique ipsum excepturi tempore,
        exercitationem aperiam vero sunt distinctio consectetur
        deserunt quaerat quos voluptas minima omnis libero accusantium,
        esse ullam blanditiis minus.
    </mat-sidenav-container> 
</app-card> 


<!-- pipes
*uses sign | after class object then format/transform to json or else.
sometimes used when donot knowing the name used in initializing object
also pipe can add other element format like date.
Also currence can be forwarded -->
<p>users works!</p> 