.card{
    margin-left:30%;
    border: none;
    width: 500px;
    padding: 40px;
    position:relative;
    top: 10%;
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* background: hsla(205, 46%, 30%, 1); */
    background: linear-gradient(90deg,rgb(70, 95, 113)0%,rgb(74, 55, 110) 100%);
}
.body{
    background: linear-gradient(90deg,rgb(150, 158, 163)0%,rgb(149, 132, 180) 100%);
    height: 100%;
}

.card, h1 h4{
    color: #fff;
}
label{
    color: #fff;
}

