<div class="body">
  <div class="container">
    <div class="card">
      <h1 style="text-align: center"><b>REGISTRATION FORM </b></h1>
      <div class="text-center">
        <h2 style="color:aqua">Register yourself</h2>
      </div>
      <div class="form">
        <form action="#">
          <div class="row">
            <div class="col-25">
              <label for="fname">First Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="lname">Last Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            </div>
          </div>

          <!-- <div class="mb-2">
            <label for="Username" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" />
          </div>  -->

          <div class="row">
            <div class="col-25">
              <label for="exampleInputEmail1" class="form-label">Email Address</label>
            </div>
            <div class="col-75">
              <input class="form-control" type="email" id="inputEmail" name="" placeholder="example@gmail.com" aria-describedby="emailHelp">
            </div>
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="row">
          <div class="col-25">
            <label for="password" class="form-label" >Password</label>
          </div>
          <div class="col-45">
            <input type="password" id="passwd" name="password" class="form-control">
          </div>
        </div>
          <!-- <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwd" />
          </div> -->
          <div class="row">
            <div class="col-25">
              <label for="Mobile" class="form-label" >Phone Number</label>
            </div>
            <div class="col-45">
              <input type="tel" id="number" class="form-control">
            </div>
          </div>
        <div class="row"><input type="submit" value="Register"></div>
          <!-- <button routerLink="" type="submit" class="btn btn-primary mb-2">
            Register
          </button> -->
        </form>
        <a routerLink="" type="submit" >
          Already have account? Login Here
        </a>
      </div>
    </div>
  </div>
</div>