:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  text-align: center;
  padding: 1.5rem .9rem;
  border-radius: 32px;
}
.space {
  flex: 1 1 auto;
}
#logout {
  border-radius: 20%;
  height: 40px;
  width: 40px;
}

.logo img {
  width: 170px;
  height: 150px;
  border-radius: 32px;

}

mat-drawer {
  width: 200px;
  background-color: #848181;
}

mat-drawer-container {
  height: 98%;
  background-color: rgb(54, 163, 163);
}

mat-divider {
  border-top-width: 2px;
  border-color: white;
}

mat-icon {
  vertical-align: center;
  margin-right: 1rem;
}

mat-toolbar {
  background: #587d87;
  position: sticky;
  top: 0;
  z-index: 100;
}

button {
  border: 0;
  outline: none;
  background: transparent;
}

ul li {
  list-style: none;
  display: flex;
}

div.relative-container {
  height: 100%;
}

/* .user{
    font-size: 14px;
  }
  .user-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
  } */

/* .mat-item-list{ 
    color:#94a3b8 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
    border-radius: 5px; */
/* ::ng-deep{
      .mat-list-content{
        border-radius: 5px;
        margin: 0 8px;
        &:hover{
          background: #2c3344 !important;
        }
      }
    } 
  } */